{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    From An Najah University <br />
    Nablus
    <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>email:</strong>   <a href="mailto:salsabeel.alzaqa@gmail.com">salsabeel.alzaqa@gmail.com</a><br />
    <strong>email:</strong>   <a href="mailto:raniadameh2014@gmail.com">raniadameh2014@gmail.com</a><br />
    <strong>email:</strong>   <a href="mailto:r.19.9eg@gmail.com">rubaegbaria@gmail.com</a><br />
</address>

{% endblock %}
